body {
  background: linear-gradient(270deg, #130f40 0%, black 100%);
  margin: 0;
  padding: 0;
}

.main-content {
  margin: 0 auto;
  margin-top: 64px;
  padding: 0 16px;

  max-width: 1200px;
}

@media (min-width: 768px) {
  .main-content {
    padding: 0 48px;
  }
}

@media (min-width: 1200px) {
  .main-content {
    padding: 0 10px;
  }
}
